@import "../helpers/variables";
@import "helpers/mixins";

html {
  font-size: 8px;
  @media screen and (min-width: $tablet){
    font-size: 10px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  word-spacing: 2px;
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.hero__title {
  font-family: 'Biryani', sans-serif;
  font-size: 6rem;
  color: $burgundy1;
}

.hero__subtitle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.6rem;
  color: $beige5;
  font-weight: 300;
}

.nav__links {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  a {
    color: $rose;
  }
}

.instagram__title {
  font-size: 2.1rem;
  color: $rose;
  font-weight: 300;
  font-style: italic;
}

.instagram__title--cursive {
  display: block;
  @media screen and (max-width: $desktop) and (orientation: landscape){
    display: inline-block;
  }
  font-family: 'Dancing Script', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: $orange;
  &:hover {
    color: $orange;
  }
  @media screen and (min-width: $tablet){
    @include transition;
    &:hover {
      letter-spacing: 1px;
    }
  }
}

.insta__container {
  font-size: 1.6rem;
  color: $rose;
}

.insta__heart {
  color: $orange;
  font-size: 1.9rem;
}

.projects__mainTitle, .projectSheet__title, .aboutWrapper__title, .contact__title {
  font-family: 'Biryani', sans-serif;
  font-size: 4.5rem;
  line-height: 7rem;
  font-weight: 200;
  color: $grey1;
  margin: 0 0 50px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: $grey2;
  }
}

.projectSheet__title {
  margin: 0 0 30px;
  @media screen and(min-width: $desktop) {
    font-size: 4rem;
  }
}

.projects__subTitle, .projectSheet__link, .projectSheet__other__title, .aboutWrapper__subtitle, label {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: $rose;
  font-size: 2.5rem;
}

label {
  font-weight: 700;
  text-align: center;
}

.projectSheet__link, .projectSheet__other__title {
  font-weight: 700;
  @media screen and(min-width: $desktop) {
    font-size: 2rem;
  }
}

.projects-preview__title {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.projectSheet__other .projects-preview__title {
  @media screen and(min-width: $tablet) {
    font-size: 1.6rem;
  }
  @media screen and(min-width: $desktopXL) {
    font-size: 2rem;
  }
}

.projectSheet__date, .projectSheet__client, .projectSheet__tag, .projectSheet__description {
  color: $grey2;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  span, a {
    color: $grey1;
    font-weight: 300;
  }
  @media screen and(min-width: $desktop) {
    font-size: 1.5rem;
  }
}

.projectSheet__modal__title {
  font-family: 'Biryani', sans-serif;
  font-size: 3rem;
  color: $grey1;
  font-weight: 300;
  position: relative;
  margin-bottom: 30px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background: $grey2;
  }
}

.projectSheet__modal__text, .aboutWrapper__text, #message {
  font-size: 2rem;
  font-weight: 300;
  text-align: justify;
  a {
    color: $grey2;
    @media screen and (min-width: $tablet){
      display: inline-block;
      position: relative;
      @include transition($duree: .1s);
      &:hover {
        top: -3px;
      }
    }
  }
}

#message *::placeholder {
  font-weight: 200;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: $beige1;
  a {
    color: $beige1;
  }
}

.aboutWrapper {
  font-size: 1.6rem;
}

.contact__btn {
  text-transform: uppercase;
  color: $burgundy1;
  letter-spacing: 1px;
  font-weight: 700;
}
