$burgundy1: #552631;
$burgundy2: #270a14;
$burgundy3: #7c242f;
$accentColor: #c6ebe5;
$grey1: #434140;
$grey2: #798986;
$beige1: #c2926f;
$beige2: #ffe9e5;
$beige3: #ffa694;
$beige4: #d8cac7;
$beige5: #a0704e;
$rose: #b75f5f;
$orange: #ff6344;
$orange2: #B95D4E;

$tablet: 640px;
$desktop: 720px;
$desktopL: 1080px;
$desktopXL: 1280px;
