html {
  box-sizing: border-box;
  background-attachment: fixed;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $beige4;
  height: 100%;
}

main {
  background: $beige4;
}

*:focus, button:focus {
  outline: 3px solid $orange;
}

footer {
  background: $beige4;
}

// projects

.projects {
  position: relative;
  padding-bottom: 100px;
}

.projects__container {
  position: relative;
  width: 84.84vw;
  height: 150vw;
  margin: 0 auto;
  @media screen and (max-width: $desktop) and (orientation: landscape){
    height: 110vw;
  }
  @media screen and(min-width: $tablet) {
    width: 91.72vw;
    height: 50vw;
  }
  @media screen and(min-width: $desktopL) {
    width: 900px;
    height: 500px;
  }
}

.projects__mainTitle {
  padding-top: 180px;
}

.projects__subTitle {
  padding: 40px 0 20px;
  @media screen and(min-width: $tablet) {
    padding-bottom: 0;
  }
}

.projects-preview {
  display: flex;
  width: 40vw;
  height: 40vw;

  justify-content: center;
  align-items: center;

  position: absolute;
  top: 150px;
  left: calc(50% + 14.14vw);
  transform: translateX(-50%) rotate(45deg);

  overflow: hidden;
  @include transition;

  .projects-preview__bg, .projects-preview__gr {
      display: block !important;
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) rotate(-45deg) !important;
      z-index: 1 !important;
  }

  .projects-preview__gr {
      width: 150% !important;
      height: 150% !important;
      background: linear-gradient(to bottom, rgba($grey1, 1), rgba($grey1, 0)) !important;
      z-index: 2 !important;
  }

  .projects-preview__bg {
    height: 150%;
    width: 150%;
    object-fit: cover;
  }

  .projects-preview__title {
      z-index: 3 !important;
  }

  @media screen and (max-width: $desktop) and (orientation: landscape){
    width: 30vw;
    height: 30vw;
    left: calc(50% + 10.605vw);
  }
  @media screen and(min-width: $tablet) {
    width: 21.61vw;
    height: 21.61vw;
    &:hover {
      @include boxshadow;
    }
  }
  @media screen and(min-width: $desktopL) {
    width: 212.13px;
    height: 212.13px;
  }

}

.projects-preview:nth-of-type(1) {
  left: calc(50% - 14.14vw);
  @media screen and (max-width: $desktop) and (orientation: landscape){
    left: calc(50% - 10.605vw);
  }
  @media screen and(min-width: $tablet) {
    left: calc(50% - 30.56vw);
  }
  @media screen and(min-width: $desktopL) {
    left: calc(50% - 300px);
  }
}

.projects-preview:nth-of-type(2) {
  top: calc(150px + 28.28vw);
  @media screen and (max-width: $desktop) and (orientation: landscape){
    top: calc(150px + 21.21vw);
  }
  @media screen and(min-width: $tablet) {
    top: 150px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}

.projects-preview:nth-of-type(3) {
  top: calc(150px + 56.56vw);
  left: calc(50% - 14.14vw);
  @media screen and (max-width: $desktop) and (orientation: landscape){
    top: calc(150px + 42.42vw);
    left: calc(50% - 10.605vw);
  }
  @media screen and(min-width: $tablet) {
    top: 150px;
    left: calc(50% + 30.56vw);
  }
  @media screen and(min-width: $desktopL) {
    left: calc(50% + 300px);
  }
}

.projects-preview__title {
  transform: rotate(-45deg);
  @media screen and(min-width: $desktopL) {
    opacity: 0;
    filter: blur(5px);
    -webkit-transition: opacity .3s linear, filter .3s linear;
  }
}

.projects-preview:hover .projects-preview__title {
  @media screen and(min-width: $desktopL) {
    opacity: 1;
    filter: blur(0);
  }
}
